# Python
__pycache__/
*.py[cod]

# Java
target/

# Node.js
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Docker
docker-compose.override.yml

# Data
data/uploads/*
!data/uploads/.gitkeep

# Logs
logs/
*.log
